/* Resume Style Sheet */

h1 a {
    text-decoration: none;
    color: #ffffff;
}
h1 a.bio {
	font-size: .75em;
	padding: 2.75em
}
h1 a.download {
	font-size: .75em;
	padding: 2.75em
}

h1 {
	text-align: center;
	font-size: 3em;
	font-variant: all-petite-caps;
}

h2, h3, h4 {
	background-color: #417dc1;
	font-size: 2.25em;
	font-variant: all-petite-caps;
	max-width: 100%;
	color: #ffffff;
	border-top: solid .1em #000000;
	border-bottom:  solid .1em #000000;
}

li {
	padding: .35em;
	max-width: 75%;
}

.title {
	font-style:italic;
}

.title_line {
	border-bottom: solid .04em #ffffff;
	padding: .25em;
	max-width: 75%;
}
.date {
	float:right;
}
.school{
	max-width:75%;
	border-bottom: solid .04em #ffffff;
}
body {
	background-color:#79440C;
	color:#ffffff;
}
a {
	color:#749bbc;
}